<div>
  <form action="/edit">
    <% view_output(@obj).each do |item| %>
      <%= item %>
    <% end %>
    <% if session[:username] == get_username(@obj.creator_id) %>
      <p><button type="submit">Click Here to Edit This <%= params[:type].capitalize %></button></p>
    <% end %>
  </form>
  <form action="/attend">
    <input hidden="true" name="id" value="<%= @obj.id %>">
    <input hidden="true" name="type" value="<%= params[:type] %>">
    <p>
      <button type="attend">Click Here to Attend</button>
    </p>
  </form>
  <% unless @panels == [] %>
    <p>Panels Registered For This Convention:</p>
    <% @panels.each do |x| %>
      <a href="/view?type=panel&id=<%= x.id %>"><%= x.name %></a>
    <% end %>
  <% end %>
</div>